#map {
	width: 100%;
	height: 100%;
}
#editbutton {
	border-color: black;
	border-width: 1px;
	background-color: white;
	font-weight: bold;
}
#routebutton {
	border-color: black;
	border-width: 1px;
	background-color: white;
	font-weight: bold;
}

#editorpane {
	visibility: hidden;
	position: fixed;
	left: 5em;
	top: 5em;
	x-width: 10em;
	x-height: 20em;
	overflow: hidden;
	padding: 0.5em;
	background-color: white;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	z-index: 998;
}

.editorform {
	display: none;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	width: 100%;
}

html {
	margin: 0;
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}
.leaflet-container {
	background: white;
}
.leaflet-bottom {
	display: none;
}
.leaflet-popup-content {
	text-align: center;
}
.leaflet-popup-close-button {
	display: none;
}
.leaflet-control-layers-list {
	font-size: 2em;
}
.footer {
	position: absolute;
	bottom: 1em;
	left: 1em;
	z-index: 500;
	text-shadow: -1px -1px 0 #dbdbdb, 1px -1px 0 #dbdbdb, -1px 1px 0 #dbdbdb, 1px 1px 0 #dbdbdb;
}

.footer a {
	text-decoration: none;
	font-weight: bold;
}

.leaflet-overlay-pane {
	z-index: auto;
}
svg.leaflet-zoom-animated {
	z-index: 650;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.50);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  text-align: center;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
  border-radius: 1rem;
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

/* Demo Styles */

.modal-window {
  & > div {
    border-radius: 1rem;
  }
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}
